// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
	font-size: 1rem;
}

.content-holder {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.navbar {
	background-color: #292929;
}

.nav-item .nav-link {
	color: #ffdc5d;
}

.btn-head-search {
	color: #292929;
    background-color: #ffdc5d;
    border-color: #ffdc5d;
}

.carousel-caption {
	position: absolute;
	top: 40px;
}

.carousel-caption h5 {
	font-weight: bold;
}

.navbar-center input[type=text] {
	border-radius: 15px;
	border: none;
	width: 300px;
	margin-right: 10px;
}

#casts-holder {
	margin-bottom: 20px;
}

#casts-holder input[type=text] {
	margin-right: 10px;
	margin-bottom: 10px;
}
/* Star rating system */
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
/* End of Star Rating System */